@import "functions";

$theme-colors: (
  "primary": #c94d6b,
  "secondary": #d5b662,
  "detail": #d69858,
  "black": #111,
  "darkgray": rgb(85, 85, 85),
  "gray": #ddd,
  "white": #fff,
);

$body-color: #fff;
$body-bg: rgba(213, 182, 98, 0.75);
